.introduction {
    width: 80vw;
    height: 35vh;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    padding: .5rem;
}

.introduction table {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.introduction a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.introduction a:hover {
    color: #fff;
    opacity: 0.8;
}


.introduction th {
    width: 15%;
    text-align: left;
    color: orange;
}

.introduction td {
    text-align: left;
}
