.header {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 1;
    border-bottom: 1px solid #000000;
    margin-bottom: .2rem;
}

.header__contents {
    display: flex;
    color: #000000;
}

.header__contents li {
    list-style-type: none;
}

.header__contents span {
    margin-right: 1rem;
    margin-left: 1rem;
    color: #000000;
    text-decoration: underline;
}

.header span:hover {
    opacity: 80%;
    color: #0000ff;
}